.container {
  background-color: #dacdcd;
  max-width: 900px;
  border-radius: 10px;      
  padding: 30px;
  margin: 70px auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-width: 600px;
  align-items: center; */
}