.containerStatus {
  display: flex;
  justify-content: space-between;
  max-width: 770px;
  margin: 10px;
}

.symbolStatus {
  font-size: 20px;
  background-color: rgb(4, 196, 249);
  color: rgb(82, 82, 218);
  width: 250px;
}

.symbolStatus:hover {
  color: pink;
  text-decoration: underline;
}

.symbolStatus:focus {
  border: none;
  outline: none;
}