.containerTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 5px;
  /* display: none; */
}

.textarea {
  height: 30px;
  font-size: 20px;
  outline: none;
  background-color: aliceblue;
  resize: none;
  border: none;
  padding: 0;
}

.input {
  padding: 0;
  font-size: 20px;
}

.icon {
  width: 50px;
}

.buttonEdit {
    width: 50px;
}

.buttonDelete {
  padding: 0;
}

.buttonEdit {
  padding: 0;
  border: none;
  cursor: pointer;
}

.buttonSave {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: rgb(15, 133, 60);
  font-size: 50px;
}

.listTask {
  display: flex;
  flex-direction: column;
}

.span {
  font-size: 30px;
  color: rgb(9, 9, 9);
  width: 300px;
}

.inputEdit {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 20px;
  width: 300px;
  background-color: rgb(55, 51, 46);
}
